In [1]:
import pandas as pd

df = pd.read_csv("data/robots_txt_2025-02-14_agents.csv")
df.drop(columns=['Unnamed: 0.1', 'Unnamed: 0', 'Unnamed: 1', 'Unnamed: 3', 'Unnamed: 5'], inplace=True)

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Rank            100 non-null    int64
 1   Website         100 non-null    object
 2   Search traffic  100 non-null    object
 3   robots          95 non-null     object
 4   agents          100 non-null    object
dtypes: int64(1), object(4)
memory usage: 4.0+ KB

In [2]:
df[df['robots'].isna()]

,Rank,Website,Search traffic,robots,agents
0,1,yahoo.co.jp,245M,NaN,None.
18,19,usatoday.com,46M,NaN,None.
24,25,indianexpress.com,41M,NaN,None.
35,36,news.yahoo.com,27M,NaN,None.
76,77,business-standard.com,15M,NaN,"I'm sorry, but there are no LLM agent names in..."

In [3]:
df = df[df['robots'].notnull()]
md = df.drop(columns=['robots'])
markdown_table = md.to_markdown(index=False)

with open("robots_restictions_table.md", "w") as file:
    file.write(markdown_table)